*{
    margin: 0;
    padding: 0;
    font-family: -BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    line-height: 1.5;
}
#wrapper{
    background-color:#062863;
    position: relative;
	width: 100vw;
	height: 90%;
	top: 0px;
	left: 0px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	
}
#wrapper:after, :before{
    content: "";
    display: block;
    clear: both;
    
}
.login{  
    display: inline-block;
    margin: 32px 0 0;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font: 12px sans-serif;
    
}
/* .left-bottom-image{
    background-repeat: no-repeat;
    position: relative;
    
    
    
}
.left-bottom{
    position: absolute;
    left: -4em;
    width: 11em;
    bottom: -76em;
    
    
}
.left-bottom-image{
    content: "";
    display: block;
    clear: both;
    
} */



/* .right-top-image{
    background-repeat: no-repeat;
    position: absolute;
    right: 10em;
    

}
.right-top{
    position: absolute;
    width: 11em;
    opacity: 0.9;
    overflow: hidden;
    
} */
.left-top-image{
    background-repeat: no-repeat;
    position: absolute;
    left: 4.5em;
    top: -3.5em;
    opacity: 0.5;  
}
.left-top{
    position: absolute;
    left: -6em;
    width: 12em;
    overflow: hidden;
}


/* .right-bottom-image{
    background-repeat: no-repeat;
    position: relative;
    bottom: -70em;
    right: 15em;
    padding-right: 5em;
    padding-bottom: 2em;
}
.right-bottom{
    position: absolute;
    width: 12em;
    
}   */
.logo{
    position: relative;
    width: 191px;
    height: 35.96px;
    margin:auto;
    margin-top:50px ;
    border: 0px solid #e2e8f0;
    margin-bottom: 3rem;
}
.logo:after{
    content: "";
    display: block;
    clear: both;
}
.shape{
    margin: auto;
    width: 90%;
    min-width: 20%;
    max-width: 28rem;
    height: 75%;
    background-color: #fff;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding: 2rem;
    text-size-adjust: 100%;
    line-height: 24px;
    box-sizing: border-box;
}

header h1{
    letter-spacing: normal;
    word-spacing: normal;
    color: #083e9e;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    font-family: U8,sans-serif;
    
}
header p{
    letter-spacing: normal;
    word-spacing: normal;
    color: #4a5568;
    font-size: .875rem;
    font-weight: 100px;
    text-align: center;
    font-family: sans-serif;
    display: block;
    margin-bottom: 30px;
    
}

label{
    letter-spacing: normal;
    word-spacing: normal;
    display: block;
    font-family: inherit;
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: .25rem;
    line-height: 2;
    color: #4a5568;
    margin-left: 5px;
}
input{
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border-radius: 3px;
    width: 90% ;
    display: inline-block;
    text-align: start;
    font: 400 13.3333px Arial;
    height: 35px;
    
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]{
    border:10px solid none ;
    border-style: none;
    padding: 12px 8px 12px 12px;
    box-sizing: inherit;
    color: #1a202c;
    background-color: #edf2f7;
    line-height: inherit;
    overflow: visible;
    margin-bottom: 30px;
}
select{
    border:10px solid none ;
    border-style: none;
    padding: 12px 8px 12px 12px;
    box-sizing: inherit;
    color: #1a202c;
    background-color: #edf2f7;
    line-height: inherit;
    overflow: visible;
    margin-bottom: 30px;
    width: 90%;
    height: 35px;
    font: 400 13.3333px Arial;
}

.button{
   
    background-color: #083e9e;
    color: white;
    margin: auto;
    vertical-align: center;
    width: 90%;
    height: 50px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-transform: uppercase;    
    font-weight: 700;
    font-size: .875rem;
    border-style: none;
    
}
.button:hover{
    
    background-color: #062863;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}




